
@mixin f-main($font-weight: 500) {
  font-weight: $font-weight;
  font-family: $ff-primary;
}
@mixin f-second($font-weight: 700) {
  font-weight: $font-weight;
  font-family: $ff-secondary;
}

@mixin fsl($font-size, $line-height: null) {
  font-size: unquote('#{$font-size / $fs}rem');
  @if $line-height {
    line-height: $line-height / 100%;
  }
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder{
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::placeholder  {
    @content;
  }
}

@mixin scrollbar-hidden() {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin cover() {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin cropText($lineCount) {
  display: -moz-box;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-line-clamp: $lineCount;
  line-clamp: $lineCount;
}

@mixin styled-scrollbar($scrollbar-bg: #EAEAEA, $size: 3px) {
  scrollbar-track-color: $scrollbar-bg;
  scrollbar-darkshadow-color: $scrollbar-bg;
  scrollbar-3dlight-color: $scrollbar-bg;
  
  scrollbar-arrow-color: color(black);
  
  scrollbar-highlight-color: color(black);
  scrollbar-shadow-color: color(black);
  scrollbar-face-color: color(black);

  // firefox
  scrollbar-width: thin;
  scrollbar-color: color(black) $scrollbar-bg;

  // chrome, edge, opera, safari
  &::-webkit-scrollbar {
    width: $size;
  }
  &::-webkit-scrollbar-track {
    background-color: $scrollbar-bg;
  }
  &::-webkit-scrollbar-thumb {
    // margin: 4px 0;
    background-color: color(black);
  }
}
