.about {
  $comp: &;
  position: relative;
  z-index: 0;
  margin-bottom: rem(80px);
  @media #{media("<")} {
    margin-bottom: rem(60px);
  }
  overflow: hidden;

  &--alt {
    #{$comp}__title {
      max-width: rem(855px);
      @include fsl(58px);
    }
    #{$comp}__text {
      max-width: rem(413px);
      @include fsl(20px);
    }
  }

  &__icon {
    display: flex;
  }

  &__svg {
    margin-left: -4.4%;

    flex-shrink: 0;
    width: 111%;
    height: auto;
    @media #{media("<", m)} {
      display: none;
    }

    &.mobile {
      display: none;
      @media #{media("<", m)} {
        margin: 0 auto;
        display: block;
        width: 80%;
      }
      @media #{media("<", s)} {
        margin-left: -4.4%;
        width: 111%;
      }
    }
  }

  &__content {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &__title {
    max-width: rem(1022px);
    @media #{media("<")} {
      max-width: none;
      @include fsl(24px);
    }
    @include f-second;
    text-transform: uppercase;
    @include fsl(48px, 120%);
  }

  &__wrapper {
    margin-top: rem(-16px);
    @media #{media("<")} {
      margin-top: rem(30px);
    }
    display: flex;
    justify-content: flex-end;
  }

  &__text {
    max-width: rem(634px);
    @media #{media("<")} {
      @include fsl(12px);
    }
    @media #{media("<", m)} {
      max-width: rem(250px);
    }
    @include fsl(14px, 140%);
  }
}