.arrow-btn {
  --size: #{rem(50px)};
  $comp: &;

  width: var(--size);
  height: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  background-color: color(white);
  border: 1px solid color(black);
  transition: $transition;

  &:hover {

    background-color: color(black);

    #{$comp}__svg {
      path {
        stroke: color(white);
      }
    }
  }

  &__svg {
    --size: #{rem(12px)};

    width: var(--size);
    height: var(--size);

    path {
      transition: $transition;
    }
  }
}