.button {
  padding: rem(15px) rem(30px);

  display: flex;
  justify-content: center;

  font-family: $ff-primary;
  cursor: pointer;
  background: none;
  border: 1px solid color(black);
  @include fsl(14px, 130%);
  font-weight: 700;
  transition: $transition;

  &:hover {
    background-color: color(black);
    color: color(white);
  }

  &--wide {
    width: 100%;
  }

  &--order {
    padding: rem(15px) 0;
  }

  &.disabled {
    pointer-events: none;
    color: #8F8F8F;
    border-color: #8F8F8F;
  }
}