.custom-select {  
  $comp: &;
  position: relative;
  z-index: 1;

  min-width: rem(130px);
  @media #{media("<")} {
    position: static;
    min-width: none;
  }

  &.active {

    #{$comp}__icon {
      transform: rotate(180deg);
    }
  }

  &__select {
    position: absolute;
    left: 0;
    top: 0;

    pointer-events: none;
    opacity: 0;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: space-between;

    cursor: pointer;
  }

  &__text {
    font-weight: 700;
    @include fsl(14px, 120%);
  }

  &__icon {
    margin-left: rem(5px);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: transform $transition;
  }

  &__svg {
    --size: #{rem(16px)};

    width: var(--size);
    height: var(--size);

    transform: rotate(90deg);
  }

  &__dropdown {
    position: absolute;
    // left: 0;
    right: 0;
    top: calc(100% + #{rem(4px)});
    z-index: 1;
    padding: rem(17px) rem(15px) rem(24px) rem(26px);

    min-width: rem(300px);
    @media #{media("<", s)} {
      top: 100%;

      min-width: 100%;
      border-top: none;
    }
    display: none;
    
    border: 1px solid color(gray-light-alt);
    background-color: color(white);
  }

  &__list {

    max-height: rem(160px);
    overflow-y: auto;
    @include styled-scrollbar;
  }

  &__item {
    font-weight: 500;
    cursor: pointer;
    @include fsl(14px, 120%);
    transition: $transition;

    &:not(:first-child) {
      margin-top: rem(15px);
    }

    &.active {
      font-weight: 700;
      cursor: default;
    }
  }
}