.discount {
  padding: rem(14px) 0;
  @media #{media("<")} {
    display: none;
  }
  background-color: color(black);
  color: color(white);

  &--mobile {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 888;

    width: 100vw;
    height: rem(50px);
    
    display: none;
    @media #{media("<")} {
      display: block;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media #{media("<")} {
      justify-content: center;
    }
  }

  &__text {
    font-weight: 700;
    @include fsl(12px, 120%);
    text-transform: uppercase;
    letter-spacing: 0.25em;
    @media #{media("<")} {
      text-align: center;
      letter-spacing: 0.05em;
    }
  }

  &__sep {
    margin: 0 rem(11px);
    
    display: inline-block;
  }

  &__caption {
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: 700;
    @include fsl(12px, 120%);
    letter-spacing: 0.2em;
  }
}