
.input-wrapper {
  position: relative;
  z-index: 0;

  &__label {
    margin-bottom: rem(15px);

    text-transform: uppercase;
    font-weight: 700;
    @include fsl(14px, 100%);
  }

  &__icon {
    position: absolute;
    left: rem(20px);
    bottom: rem(15px);
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;
    
    pointer-events: none;
  }

  &__svg {
    --size: #{rem(20px)};

    width: var(--size);
    height: var(--size);
  }
}

.input {
  padding: 0 rem(23px);

  width: 100%;
  height: rem(48px);

  background-color: color(width);
  border: 1px solid color(borders);
  @include fsl(14px, 120%);
  font-weight: 500;

  &--icon {
    padding-left: rem(60px);
  }
}

.checkbox {
  $comp: &;
  position: relative;
  z-index: 0;

  &--gray {
    #{$comp}__box {
      background-color: #EEEEEE;
      border-color: #EEEEEE;
    }
  }

  &--small {
    #{$comp}__text {
      @media #{media("<")} {
        @include fsl(12px);
      }
    }
  }

  &--start {
    #{$comp}__label {
      align-items: flex-start;
    }
  }

  &__label {
    position: relative;
    z-index: 0;

    display: flex;
    align-items: center;

    cursor: pointer;

    &:hover {
      @media #{media(">")} {
        #{$comp}__box {
          border-color: color(green);
        }
      }
    }
  }

  &__input {
    position: absolute;
    left: 0;

    visibility: hidden;

    &:checked {
      ~#{$comp}__box {
        border-color: color(black);
        background-color: color(black);

        #{$comp}__svg {
          opacity: 1;
        }
      }
    }
  }

  &__box {
    margin-right: rem(11px);

    width: rem(15px);
    height: rem(15px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    transition: $transition;
    border: 1px solid color(gray-light-alt);
  }

  &__svg {
    width: rem(8px);
    height: rem(6px);

    opacity: 0;
    transition: $transition;
  }

  &__text {
    font-weight: 500;
    @include fsl(14px, 120%);
  }

  &__link {
    // font-weight: 700;
    color: #007AEB;
  }

  &__caption {
    @media #{media("<")} {
      @include fsl(12px, 100%);
    }
  }
}

.radio {
  $comp: &;
  position: relative;
  z-index: 0;

  display: flex;

  &--alt {
    #{$comp}__label {
      align-items: center;
    }
    #{$comp}__icon {
      margin-top: 0;
    }
  }

  &__label {
    display: flex;

    cursor: pointer;
  }

  &__input {
    position: absolute;
    left: 0;
    top: 0;

    pointer-events: none;
    opacity: 0;

    &:checked {
      ~#{$comp}__icon {
        border-color: color(black);
        &::before {
          opacity: 1;
        }
      }
    }
  }

  &__icon {
    --size: #{rem(16px)};
    margin-top: rem(10px);
    @media #{media("<", m)} {
      margin-top: rem(4px);
    }

    flex-shrink: 0;
    width: var(--size);
    height: var(--size);
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    border: 2px solid #DDDDDD;
    transition: $transition;

    &::before {
      content: "";
      --size: #{rem(6px)};

      width: var(--size);
      height: var(--size);
      display: block;

      opacity: 0;
      transition: opacity $transition;
      border-radius: 50%;
      background-color: color(black);
    }
  }

  &__col {
    margin-left: rem(17px);
    @include fsl(14px);
  }

  &__title {
    font-weight: 700;

    br {
      @media #{media("<", m)} {
        display: none;
      }
    }
  }

  &__text {
    margin-top: rem(10px);
    font-weight: 500;
  }
}