.header-menu {
  $comp: &;
  position: absolute;
  top: calc(100% + 1px);
  right: 0;
  z-index: 1;

  width: 100vw;
  height: calc(100vh - #{rem(70px)});

  transition: transform $transition;
  transform: translateX(100%);
  background-color: color(white);

  &__container {
    padding: rem(28px) rem(15px) rem(80px);

    height: 100%;

    overflow-y: auto;
  }

  &__item {

    &.active {
      #{$comp}__button {
        border-color: color(black);

        #{$comp}__text {
          font-weight: 700;
        }

        #{$comp}__svg {
          transform: rotate(90deg);
        }
      }
    }

    &:not(:first-child) {
      margin-top: rem(20px);
    }
  }

  &__button {
    padding-bottom: rem(25px);

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid color(gray-light);
    transition: $transition;
    cursor: pointer;
  }

  &__text {
    font-weight: 600;
    @include fsl(14px, 120%);
    transition: $transition;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;

    transition: $transition;
  }

  &__svg {
    --size: #{rem(10px)};

    width: var(--size);
    height: var(--size);

    transition: $transition;
  }

  &__dropdown {
    padding: rem(24px) rem(20px);

    display: none;

    background-color: #F1F1F1;
  }

  &__links {}
  &__links-item {

    &:not(:first-child) {
      margin-top: rem(30px);
    }

    &.active {
      #{$comp}__text {
        font-weight: 700;
      }
      #{$comp}__icon {
        transform: rotate(90deg);
      }
    }
  }
  &__links-dropdown {
    padding: rem(20px) 0 rem(24px);

    display: none;

    border-bottom: 1px solid rgba(color(black), 0.06);
  }

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;

    #{$comp}__text {
      font-weight: 500;
    }
  }

  &__items {}
  &__items-item {
    display: flex;

    &:not(:first-child) {
      margin-top: rem(20px);
    }
  }
  &__items-link {
    @include fsl(14px, 110%);
  }
}