.header {
  $comp: &;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 777;
  @media #{media("<")} {
    position: absolute;
    // overflow-x: hidden;
  }
  width: 100vw;

  border-bottom: 1px solid rgba(color(black), 0.1);
  // background-color: color(white);
  transition: $transition;

  &--main {
    background-color: transparent;
    border-color: transparent;
  }

  &--scroll {
    // @media #{media("<")} {
    //   transform: translateY(rem(-50px));
    // }
    @media #{media(">")} {
      transform: translateY(rem(-49px));
      background-color: color(white);
      border-color: rgba(color(black), 0.1);
      
    }
  }
  &--menu {
    
    background-color: color(white);
    border-color: rgba(color(black), 0.1);

    #{$comp}__menu-icon {
      opacity: 0;
    }
    #{$comp}__menu-cross {
      opacity: 1;
    }

    .header-menu {
      transform: none;
    }
  }

  &__inner {
    padding: rem(25px) 0;
    @media #{media("<")} {
      padding: rem(28px) 0 rem(21px);
      position: relative;
      z-index: 2;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__col {
    &:nth-child(1) {
      display: flex;
      align-items: center;
    }
    &:nth-child(2) {
      @media #{media("<")} {
        display: none;
      }
    }
  }

  &__logo {
    margin-right: rem(50px);

    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__logo-svg {
    width: rem(85px);
    height: rem(20px);
  }

  &__icon {
    position: relative;
    z-index: 0;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__svg {
    --size: #{rem(20px)};

    width: var(--size);
    height: var(--size);
  }

  &__catalog {
    position: relative;
    z-index: 0;

    display: flex;
    align-items: center;
    @media #{media("<")} {
      display: none;
    }

    cursor: pointer;

    &.active {
      #{$comp}__catalog-dropdown {
        opacity: 1;
        pointer-events: all;
      }
      #{$comp}__catalog-svg {
        opacity: 1;
      }
      #{$comp}__svg {
        opacity: 0;
      }
    }
  }
  &__catalog-text {
    margin-left: rem(13px);
    
    font-weight: 600;
    @include fsl(12px, 120%);
  }
  &__catalog-svg {
    --size: #{rem(24px)};
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: var(--size);
    height: var(--size);

    transition: $transition;
    opacity: 0;
  }
  &__catalog-dropdown {
    position: absolute;
    top: calc(100% + #{rem(30px)});
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    width: rem(255px);

    background-color: color(white);
    border: 1px solid #DEDADA;
    box-shadow: 0px 24px 74px rgba(0, 0, 0, 0.09);
    transition: $transition;
    opacity: 0;
    pointer-events: none;

    &::before {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 50%;
      transform: translate(-50%);

      width: 0;
      height: 0;

      border-style: solid;
      border-width: 0 6px 6px 6px;
      border-color: transparent transparent #DEDADA transparent;
    }
  }
  &__catalog-link {
    padding: rem(13px) rem(22px) rem(13px) rem(17px);

    display: flex;
    align-items: center;
    justify-content: space-between;

    transition: $transition;

    &:hover {
      background-color: color(borders-third);
    }
  }
  &__catalog-wrapper {
    display: flex;
    align-items: center;
  }
  &__catalog-img {
    display: flex;
    align-items: center;

    svg {
      --size: #{rem(18px)};

      width: var(--size);
      height: var(--size);
    }
  }
  &__catalog-caption {
    margin-left: rem(19px);

    font-weight: 600;
    @include fsl(12px, 120%);
  }
  &__catalog-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__catalog-arrow {
    --size: #{rem(10px)};

    width: var(--size);
    height: var(--size);
  }

  &__list {
    display: flex;
  }
  &__list-item {
    display: flex;

    &:not(:first-child) {
      margin-left: rem(20px);
    }
  }
  &__list-link {
    display: flex;
    align-items: center;

    font-weight: 600;
    @include fsl(12px, 120%);
  }

  &__links-link {
    display: flex;
    align-items: center;
  }

  &__count {
    margin-left: 5px;

    @include fsl(12px, 100%);
  }

  &__menu {
    position: relative;
    z-index: 0;
    @media #{media(">")} {
      display: none;
    }
  }
  &__menu-icon {
    transition: $transition;
  }
  &__menu-cross {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;

    width: 100%;
    height: 100%;

    opacity: 0;
    transition: $transition;
  }
}