.header {
  $comp: &;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 777;

  width: 100vw;

  border-bottom: 1px solid rgba(color(black), 0.1);
  // background-color: color(white);
  transition: $transition;

  &--main {
    background-color: transparent;
    border-color: transparent;
  }

  &--scroll {
    @media #{media(">")} {
      transform: translateY(rem(-49px));
    }
    background-color: color(white);
    border-color: rgba(color(black), 0.1);
  }
  &--menu {
    
    background-color: color(white);
    border-color: rgba(color(black), 0.1);

    #{$comp}__menu-icon {
      opacity: 0;
    }
    #{$comp}__menu-cross {
      opacity: 1;
    }

    .header-menu {
      transform: none;
    }
  }

  &__inner {
    padding: rem(25px) 0;
    @media #{media("<")} {
      padding: rem(28px) 0 rem(21px);
      position: relative;
      z-index: 2;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__col {
    &:nth-child(1) {
      display: flex;
      align-items: center;
    }
    &:nth-child(2) {
      @media #{media("<")} {
        display: none;
      }
    }
  }

  &__logo {
    margin-right: rem(50px);

    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__logo-svg {
    width: rem(85px);
    height: rem(20px);
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__svg {
    --size: #{rem(20px)};

    width: var(--size);
    height: var(--size);
  }

  &__catalog {
    display: flex;
    align-items: center;
    @media #{media("<")} {
      display: none;
    }
  }
  &__catalog-text {
    margin-left: rem(13px);
    
    font-weight: 600;
    @include fsl(12px, 120%);
  }

  &__list {
    display: flex;
  }
  &__list-item {
    display: flex;

    &:not(:first-child) {
      margin-left: rem(20px);
    }
  }
  &__list-link {
    font-weight: 600;
    @include fsl(12px, 120%);
  }

  &__menu {
    position: relative;
    z-index: 0;
    @media #{media(">")} {
      display: none;
    }
  }
  &__menu-icon {
    transition: $transition;
  }
  &__menu-cross {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;

    width: 100%;
    height: 100%;

    opacity: 0;
    transition: $transition;
  }
}