
.modal {
  $comp: &;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;

  width: 100%;
  height: 100%;

  pointer-events: none;

  &.active {
    #{$comp}__overlay {
      opacity: 1;
      pointer-events: all;
    }
    #{$comp}__container {
      transform: none;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    pointer-events: none;
    background-color: rgba(24,29,29,.2);
    opacity: 0;
    transition: $transition;
  }

  &__container {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 121;
    @media #{media("<")} {
      bottom: 0;
      top: auto;

      width: 100%;
      height: auto;
      min-height: 75vh;
    }
    width: rem(600px);
    height: 100%;

    pointer-events: all;
    transform: translateX(120%);
    transition: $transition;
    background-color: color(white);
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  &__top {

    height: rem(55px);
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    background-color: color(gray-bg);
    @include fsl(12px);
  }

  &__item {
    height: rem(55px);
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    border-bottom: 1px solid color(borders);
    @include fsl(12px);
  }

  &__close {
    --size: #{rem(44px)};
    position: absolute;
    right: 100%;
    top: 0;
    z-index: 1;
    @media #{media("<")} {
      bottom: 100%;
      right: 0;
      top: auto;
    }

    width: var(--size);
    height: var(--size);
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    background-color: color(black);

    svg {
      --size: #{rem(20px)};

      width: var(--size);
      height: var(--size);

      path {
        stroke: color(white);
      }
    }
  }

  .fancybox-button {
    right: 100%;
    
    opacity: 1;
    background-color: color(black);

    path {
      fill: color(white);
    }
  }
}

.photo-modal {
  
  &__img {
    display: block;
  }
}

/* Custom animation slide-in-out */
.fancybox-fx-right.fancybox-slide--previous {
  transform: translateX(100%);
}

.fancybox-fx-right.fancybox-slide--next {
  transform: translateX(100%);
}

.fancybox-fx-right.fancybox-slide--current {
  transform: translateX(0);
}
