.section {
  $comp: &;

  &--first {
    margin-top: rem(150px);
    @media #{media("<")} {
      margin-top: rem(140px);
    }
  }

  &--about {
    margin-top: rem(80px);
    @media #{media("<")} {
      margin-top: rem(50px);
    }
  }

  &__row {
    display: flex;
    @media #{media("<")} {
      display: block;
    }

    &--alt {

      #{$comp}__col {
        &:nth-child(1) {
          @media #{media("<")} {
            display: none;
          }
        }
      }
    }
  }

  &__col {
    flex-shrink: 0;

    &:nth-child(1) {
      padding-right: $col-gap-d;
      width: calc(#{$col-part-d} * 3);
      @media #{media("<")} {
        padding-right: 0;
        width: auto;
      }
    }

    &:nth-child(2) {
      @media #{media("<")} {
        margin-top: rem(24px);
        width: auto;
      }
      width: calc(#{$col-part-d} * 9);
    }
  }
}