.section {

  &--first {
    margin-top: rem(150px);
    @media #{media("<")} {
      margin-top: rem(100px);
    }
  }

  &--about {
    margin-top: rem(80px);
  }

  &__row {
    display: flex;
  }

  &__col {
    flex-shrink: 0;

    &:nth-child(1) {
      padding-right: $col-gap-d;
      width: calc(#{$col-part-d} * 3);
    }
  }
}