extends ../app

include ../components/card
include ../components/modals

block content
  .card-page
    -
      var ddata = [
        {
          label: 'СДЭК (До пункта выдачи)',
          text: '400 руб.',
        },
        {
          label: 'СДЭК (Курьером до двери)',
          text: '500 руб.',
        },
        {
          label: 'Самовывоз из Шоурума из Москвы',
          text: '0 руб.',
        },
      ]
    section.section.section--first 
      .container
        .card-page__container
          +breadcrumbs(items=['Каталог', 'Брюки'] page = 'Брюки PELEGRINNI 105 oversized western jacket in green wavey print ')
          .card-page__row 
            .card-page__col
              .slider
                .slider__row 
                  .slider__col
                    .slider__thumbs.swiper-container.swiper-container--slide-width-auto.swiper-container--slide-height-max.swiper-container--visible(data-thumbs-id='11')
                      .swiper-wrapper
                        - for (i = 0; i < 3; i++)
                          .swiper-slide
                            .slider__thumb(data-thumb='')
                              img.slider__img(src="assets/images/sick.jpg", alt="")
                          .swiper-slide
                            .slider__thumb(data-thumb='')
                              img.slider__img(src="assets/images/product-1.jpg", alt="")
                          .swiper-slide
                            .slider__thumb(data-thumb='')
                              img.slider__img(src="assets/images/product-2.jpg", alt="")
                          .swiper-slide
                            .slider__thumb(data-thumb='')
                              img.slider__img(src="assets/images/product-3.jpg", alt="")
                  .slider__col
                    .slider__nav
                      .swiper-button-next
                      .swiper-button-prev
                    .swiper-container.swiper-container--slide-width-auto.swiper-container--slide-height-max.swiper-container--visible(data-slider-id='11' data-slider-prev='' data-slider-next='2' data-thumbs-slider='')
                      .swiper-wrapper
                        - for (i = 0; i < 3; i++)
                          .swiper-slide
                            a.slider__slide(data-src='assets/images/sick.jpg' data-fancybox='gallery')
                              img.slider__img(src="assets/images/sick.jpg", alt="")
                          .swiper-slide
                            a.slider__slide(data-src='assets/images/product-1.jpg' data-fancybox='gallery')
                              img.slider__img(src="assets/images/product-1.jpg", alt="")
                          .swiper-slide
                            a.slider__slide(data-src='assets/images/product-2.jpg' data-fancybox='gallery')
                              img.slider__img(src="assets/images/product-2.jpg", alt="")
                          .swiper-slide
                            a.slider__slide(data-src='assets/images/product-3.jpg' data-fancybox='gallery')
                              img.slider__img(src="assets/images/product-3.jpg", alt="")
              .only-desktop 
                .card-page__features
                  .card-page__features-title 
                    |Важные особенности
                  .card-page__features-grid 
                    .card-page__features-item
                      .card-page__features-hover 
                        .card-page__features-heading 
                          |Премиальные #[br] материалы
                        .card-page__features-text 
                          |Мы используем только проверенные качественные материалы, итальянские ткани, современные утеплители, технологичные мембраны и качественную фурнитуру
                      .card-page__features-container 
                        .card-page__features-icon 
                          +protection-svg.card-page__features-svg 
                        .card-page__features-heading 
                          |Гарантия #[br] 12 месяцев
                    .card-page__features-item
                      .card-page__features-hover 
                        .card-page__features-heading 
                          |Премиальные #[br] материалы
                        .card-page__features-text 
                          |Мы используем только проверенные качественные материалы, итальянские ткани, современные утеплители, технологичные мембраны и качественную фурнитуру
                      .card-page__features-container 
                        .card-page__features-icon 
                          +cards-svg.card-page__features-svg 
                        .card-page__features-heading 
                          |Премиальные #[br] материалы
                    .card-page__features-item
                      .card-page__features-hover 
                        .card-page__features-heading 
                          |Примерка перед #[br] покупкой
                        .card-page__features-text 
                          |Мы используем только проверенные качественные материалы, итальянские ткани, современные утеплители, технологичные мембраны и качественную фурнитуру
                      .card-page__features-container 
                        .card-page__features-icon 
                          +persons-svg.card-page__features-svg 
                        .card-page__features-heading 
                          |Примерка перед #[br] покупкой
                    .card-page__features-item
                      .card-page__features-hover 
                        .card-page__features-heading 
                          |Быстрая #[br] доставка
                        .card-page__features-text 
                          |Мы используем только проверенные качественные материалы, итальянские ткани, современные утеплители, технологичные мембраны и качественную фурнитуру
                      .card-page__features-container 
                        .card-page__features-icon 
                          +home-svg.card-page__features-svg 
                        .card-page__features-heading 
                          |Быстрая #[br] доставка
            .card-page__col 
              h1.card-page__title 
                |Брюки PELEGRINNI 105 oversized western jacket in green wavey print
              .card-page__price 
                |12 400 руб.
                span.card-page__old 
                  |17 400 руб.
              .card-page__promo
                .card-page__promo-row 
                  .card-page__promo-col
                    .card-page__promo-icon 
                      +tag-svg.card-page__promo-svg
                  .card-page__promo-col
                    .card-page__promo-title 
                      |По промокоду”SALe 15”
                    .card-page__promo-text 
                      |-15% на все новинки
              .card-page__item 
                .card-page__top 
                  .card-page__prop 
                    |Цвет: #[span Black brown]
                .card-page__select 
                  +select(placeholder = 'Выберите цвет' options=['qwe', 'asd', 'zxc'])
              .card-page__item 
                .card-page__top 
                  .card-page__prop 
                    |Размер: #[span M]
                  .card-page__link(data-modal-button='sizes')
                    |Таблица размеров
                .card-page__select 
                  +select(placeholder = 'Выберите размер' options=['qwe', 'asd', 'zxc', 'qwe1', 'asd2', 'zxc3', '32', '44', '55'])
              .card-page__item
                .card-page__item-row 
                  .card-page__item-btn
                    +button.button--wide 
                      |Добавить в корзину
                  .card-page__item-icon 
                    +favorite-svg.card-page__item-svg
              .card-page__accordions(data-card-accordions='')
                .card-page__accordions-item 
                  .accordion.active(data-accordion='')
                    .accordion__head(data-accordion-button='')
                      .accordion__title 
                        |Описание товара
                      .accordion__icon 
                        .accordion__plus 
                    .accordion__body(data-accordion-dropdown='' style="display: block")
                      .card-page__text 
                        p
                          |Эффектные брюки в стиле Smart Casual, изготовленные из премиальных шерстяных тканей SUPER 100`S, ведущих Итальянских производителей (VITALE BARBERIS Canonico S.P.a и DRAGO S.P.a). #[br] Пометка "Super" в описании тканей указывает на высокотехнологичные свойства ткани, благодаря которым, вещи практически не мнутся. #[br] В холодное время года в них тепло, а в теплое - не жарко. Цифры (100-210’S) указывают на то количество километров, которое получают из 1 килограмма шерсти путем кручения нити. Такие ткани мягкие и нежные на ощупь. #[br] Именно такие материалы мы используем для создания наших брюк Pelegrinni.
                        p
                          |Продуманная конструкция и идеальный крой в сочетании с современным укороченным дизайном обеспечивают максимальный комфорт и оптимальную посадку!
                        p 
                          strong 
                            |Шерсть, %: #[span 100]
                          strong 
                            |Производитель: #[span DTMD]
                .card-page__accordions-item 
                  .accordion.active(data-accordion='')
                    .accordion__head(data-accordion-button='')
                      .accordion__title 
                        |Информация о доставке
                      .accordion__icon 
                        .accordion__plus 
                    .accordion__body(data-accordion-dropdown='' style="display: block")
                      ul.card-page__list
                        each item in ddata
                          li.card-page__list-item
                            .card-page__list-text 
                              |#{item.label}
                            .card-page__sep 
                            .card-page__list-text 
                              |#{item.text}
                .only-mobile 
                  .card-page__features
                    .card-page__features-title 
                      |Важные особенности
                    .card-page__features-grid 
                      .card-page__features-item
                        .card-page__features-hover 
                          .card-page__features-heading 
                            |Премиальные #[br] материалы
                          .card-page__features-text 
                            |Мы используем только проверенные качественные материалы, итальянские ткани, современные утеплители, технологичные мембраны и качественную фурнитуру
                        .card-page__features-container 
                          .card-page__features-icon 
                            +protection-svg.card-page__features-svg 
                          .card-page__features-heading 
                            |Гарантия #[br] 12 месяцев
                      .card-page__features-item
                        .card-page__features-hover 
                          .card-page__features-heading 
                            |Премиальные #[br] материалы
                          .card-page__features-text 
                            |Мы используем только проверенные качественные материалы, итальянские ткани, современные утеплители, технологичные мембраны и качественную фурнитуру
                        .card-page__features-container 
                          .card-page__features-icon 
                            +cards-svg.card-page__features-svg 
                          .card-page__features-heading 
                            |Премиальные #[br] материалы
                      .card-page__features-item
                        .card-page__features-hover 
                          .card-page__features-heading 
                            |Примерка перед #[br] покупкой
                          .card-page__features-text 
                            |Мы используем только проверенные качественные материалы, итальянские ткани, современные утеплители, технологичные мембраны и качественную фурнитуру
                        .card-page__features-container 
                          .card-page__features-icon 
                            +persons-svg.card-page__features-svg 
                          .card-page__features-heading 
                            |Примерка перед #[br] покупкой
                      .card-page__features-item
                        .card-page__features-hover 
                          .card-page__features-heading 
                            |Быстрая #[br] доставка
                          .card-page__features-text 
                            |Мы используем только проверенные качественные материалы, итальянские ткани, современные утеплители, технологичные мембраны и качественную фурнитуру
                        .card-page__features-container 
                          .card-page__features-icon 
                            +home-svg.card-page__features-svg 
                          .card-page__features-heading 
                            |Быстрая #[br] доставка
    section.card-page__section.section
      .container 
        .card-page__slider
          .card-page__slider-top 
            h3.heading 
              |С этим товаром покупают
            .card-page__slider-btn 
              button.arrow-btn(data-slider-button='2')
                +arrow-svg.arrow-btn__svg
          .card-page__slider-container 
            .swiper-container.swiper-container--slide-width-auto.swiper-container--slide-height-max.swiper-container--visible(data-slider-id='none' data-slider-prev='' data-slider-next='2')
              .swiper-wrapper
                - for (i = 0; i < 3; i++)
                  .swiper-slide
                    +card.card--slide(img = 'product-1')
                  .swiper-slide
                    +card.card--slide(img = 'product-2')
                  .swiper-slide
                    +card.card--slide(img = 'product-3')
          .card-page__slider-link
            +link.button--wide
              |Смотреть все
    section.card-page__section.section
      .container 
        .card-page__slider
          .card-page__slider-top 
            h3.heading 
              |недавно просматриваемые
            .card-page__slider-btn 
              button.arrow-btn(data-slider-button='3')
                +arrow-svg.arrow-btn__svg
          .card-page__slider-container 
            .swiper-container.swiper-container--slide-width-auto.swiper-container--slide-height-max.swiper-container--visible(data-slider-id='none' data-slider-prev='' data-slider-next='3')
              .swiper-wrapper
                - for (i = 0; i < 3; i++)
                  .swiper-slide
                    +card.card--slide(img = 'product-1')
                  .swiper-slide
                    +card.card--slide(img = 'product-2')
                  .swiper-slide
                    +card.card--slide(img = 'product-3')
          .card-page__slider-link
            +link.button--wide
              |Смотреть все
    section.card-page__section.section
      .card-page__bot
        .container 
          h3.card-page__bot-title.heading
            |Нужна помощь?
          .card-page__bot-grid 
            a.card-page__bot-item(href="#")
              .card-page__bot-icon 
                +help-1-svg.card-page__bot-svg 
              .card-page__bot-text 
                |Доставка и примерка
            a.card-page__bot-item(href="#")
              .card-page__bot-icon 
                +help-2-svg.card-page__bot-svg 
              .card-page__bot-text 
                |Связаться с нами
            a.card-page__bot-item(href="#")
              .card-page__bot-icon 
                +help-3-svg.card-page__bot-svg 
              .card-page__bot-text 
                |Задайте нам вопрос
            a.card-page__bot-item(href="#")
              .card-page__bot-icon 
                +help-4-svg.card-page__bot-svg 
              .card-page__bot-text 
                |Как сделать возврат?
  +size-modal