extends ../app



block content
  .profile-page.order-page
    -
      var ddata = [
        {
          label: '№ Заказа:',
          text: '220916-0308S9-UA'
        },
        {
          label: 'Итого:',
          text: '1483 руб.'
        },
        {
          label: 'Принято:',
          text: '16.09.2022'
        },
        {
          label: 'Кол-во товаров:',
          text: '2'
        },
      ]
    section.section.section--first
      .container
        .only-mobile 
          .profile-page__wrapper
            +breadcrumbs(items = ['Личный кабинет'] page = 'Мои заказы')
            h1.title.profile-page__title
              |Мои заказы
            .profile-page__btn 
              +link.button--wide 
                |Вернуться в магазин
        .section__row 
          .section__col
            .profile-page__offset
              ul.nav 
                each link, i in ['Мои заказы', 'Личные данные ', 'Рассылка', 'Выход', ]
                  li.nav__item
                    if (i === 0)
                      .nav__link.active
                        .nav__text 
                          |#{link}
                        .nav__icon 
                          +arrow-svg.nav__svg
                    else
                      a.nav__link(href="#")
                        .nav__text 
                          |#{link}
                        .nav__icon 
                          +arrow-svg.nav__svg
          .section__col
            .only-desktop
              +breadcrumbs(items = ['Личный кабинет'] page = 'Мои заказы')
              .order-page__wrapper
                .order-page__top
                  h1.title
                    |Мои заказы
                  a.profile-page__link(href="#")
                    |Посмотреть исторю заказов
            .only-mobile
              .profile-page__container
                a.profile-page__link(href="#")
                  |Посмотреть исторю заказов
            .order-page__list 
              - for (j = 0; j < 2; j++)
                .order-page__item
                  .order-page__item-row 
                    .order-page__item-col
                      img.order-page__item-img(src="assets/images/product-1.jpg", alt="")
                    .order-page__item-col
                      .order-page__stat 
                        each item in ddata
                          .order-page__stat-item 
                            .order-page__stat-label 
                              |#{item.label}
                            .order-page__stat-text 
                              |#{item.text}
                        .order-page__stat-item 
                          .order-page__stat-label 
                            |Статус
                          .order-page__stat-text.red
                            |Не оплачено
                      .only-mobile 
                        .order-page__images 
                          - for (i = 0; i < 2; i++)
                            img.order-page__item-img(src="assets/images/product-1.jpg", alt="")
                      .order-page__item-btn 
                        +link.button--wide
                          |Детали заказа