extends ../app



block content
  .login-page
    .login-page__bg 
      +login-bg-svg.login-page__svg
    section.section.section--first
      .container
        .login-page__container 
          .login-page__content 
            +breadcrumbs.breadcrumbs--auto(page = 'Запрос пароля')
            h1.login-page__title 
              |Запрос пароля
          form.login-page__form(action="/")
            .login-page__item
              +input(type = 'email' label = 'Введите E-mail')
            .login-page__item 
              .login-page__caption 
                |Контрольная строка для смены пароля, а также ваши регистрационные данные, будут высланы вам по E-mai.
            .login-page__item 
              +button.button--wide
                |Выслать
            .login-page__item 
              .login-page__link-wrapper
                a.login-page__link(href="#")  
                  |Авторизация