$files: (("Manrope-Medium", 500), ("Manrope-SemiBold", 600), ("Manrope-Bold", 700), ("Manrope-ExtraBold", 800));

@each $filename, $font-weight in $files {
  @font-face {
    src: font-url($filename);

    font-family: $ff-primary;
    font-weight: $font-weight;
  }
}

@font-face {
  font-family: $ff-secondary;
  src: url(../assets/fonts/RFDewiExpanded-bold.woff);
  font-weight: 700;
}