.about-page {
  $comp: &;
  margin-bottom: rem(80px);
  @media #{media("<")} {
    margin-bottom: rem(60px);
  }

  &__section {
    margin-top: rem(216px);
    @media #{media("<")} {
      margin-top: rem(92px);
    }
  }

  &__list {
    @media #{media("<")} {
      margin: 0 auto;
      width: 50%;
    }
    @media #{media("<", m)} {
      width: auto;
    }
  }

  &__item {
    position: relative;
    z-index: 0;

    &.reversed {
      @media #{media(">")} {
        #{$comp}__item-icon {
          transform: translateY(-50%) rotate(90deg);
          right: auto;
          left: rem(390px);
        }
        #{$comp}__item-col {
          &:nth-child(1) {
            margin-right: 0;
            margin-left: rem(80px);
          }
          &:nth-child(2) {
            order: -1;
          }
        }
      }
    }

    &:not(:first-child) {
      margin-top: rem(84px);
      @media #{media("<")} {
        margin-top: rem(60px);
      }
    }
  }
  &__item-icon {
    position: absolute;
    // left: 50%;
    right: rem(390px);
    top: 50%;
    z-index: -1;
    transform: translateY(-50%) rotate(-90deg);
    @media #{media("<")} {
      transform: translateX(50%);
      top: auto;
      right: 50%;
      bottom: rem(106px);
    }

    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__item-svg {
    width: rem(303px);
    height: rem(257px);
  }
  &__item-row {
    display: flex;
    align-items: center;
    @media #{media("<")} {
      display: block;
    }
  }
  &__item-col {
    &:nth-child(1) {
      margin-right: rem(80px);
      width: 100%;
      @media #{media("<")} {
        margin-right: 0;
      }
    }
    &:nth-child(2) {
      flex-shrink: 0;
      width: rem(475px);
      @media #{media("<")} {
        width: auto;
        margin-top: rem(34px);
      }
    }
  }
  &__item-img {
    width: 100%;
    display: flex;
    align-items: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__item-title {
    margin-bottom: rem(37px);
    @media #{media("<")} {
      margin-bottom: rem(20px);
      @include fsl(20px);
    }
    @include f-second;
    text-transform: uppercase;
    @include fsl(44px, 120%);
  }
  &__item-text {
    max-width: rem(478px);
    font-weight: 500;
    @include fsl(14px, 150%);
    @media #{media("<")} {
      max-width: none;
      @include fsl(12px);
    }
  }

  &__bot {
    padding-top: rem(100px);
    @media #{media("<")} {
      padding-top: rem(60px);
    }
    border-top: 1px solid rgba(color(black), 0.1);
  }
  &__bot-title {
    margin-bottom: rem(54px);
    @media #{media("<")} {
      margin-bottom: rem(40px);
      @include fsl(20px);
    }
    @include f-second;
    text-align: center;
    text-transform: uppercase;
    @include fsl(44px, 120%);
  }
  &__bot-container {
    margin: 0 auto;
    width: calc(#{$col-part-d} * 8 - #{$col-gap-d});
    @media #{media("<")} {
      margin: 0;
      width: auto;
    }
  }
  &__bot-item {
    
    &:not(:first-child) {
      margin-top: rem(20px);
    }
  }
  &__bot-text {
    font-weight: 500;
    @include fsl(14px, 150%);
    @media #{media("<")} {
      @include fsl(12px)
    }

    p {
      &:not(:first-child) {
        margin-top: rem(20px);
        @media #{media("<")} {
          margin-top: rem(10px);
        }
      }
    }
  }

  &__text {
    margin-top: rem(22px);
    font-weight: 500;
    @include fsl(14px);
  }
}