.profile-page {
  margin-bottom: rem(70px);
  @media #{media("<")} {
    margin-bottom: rem(60px);
  }

  &__title {
    @media #{media(">")} {
      padding-bottom: rem(30px);
      
      border-bottom: 1px solid color(gray-bg);
    }
  }

  &__offset {
    padding-right: rem(35px);
    @media #{media("<")} {
      padding-right: 0;
    }
  }

  &__wrapper {
    margin-bottom: rem(20px);
  }

  &__btn {
    margin-top: rem(20px);
  }

  &__form {
    margin-top: rem(28px);
    @media #{media("<")} {
      margin-top: 0;
    }
  }

  &__grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: rem(24px);
    row-gap: rem(24px);
    @media #{media("<", m)} {
      grid-template-columns: 1fr;
    }
  }

  &__button {
    margin-top: rem(24px);
  }

  &__caption {
    margin-top: rem(42px);

    font-weight: 500;
    color: color(gray);
    @include fsl(14px, 160%);
  }

  &__checkbox {
    margin-top: rem(27px);
  }
}