mixin about
  section.about
    .about__icon 
      +bg-svg.about__svg 
    .about__content
      .container 
        .about__title 
          |DTMD – современная классика, которая создана для комфортной жизни в городе.
        .about__wrapper
          .about__text
            |Уже более 25 лет мы разрабатываем уникальные модели и конструкции, кропотливо продумывая каждую деталь! Мы ценим комфорт и функциональность, поэтому стремимся сделать нашу одежду максимально комфортной и долговечной.