mixin accordion 
  .accordion(class=attributes.class data-accordion='')
    .accordion__head(data-accordion-button='')
      .accordion__title 
        |#{attributes.title}
      .accordion__icon 
        .accordion__plus 
    .accordion__body(data-accordion-dropdown='')
      block