mixin header
  header.header&attributes(attributes)
    .discount
      .container
        .discount__row 
          .discount__col
            .discount__text 
              |-15 % на все новинки по промокоду “SALE15” #[span.discount__sep |] Действует до 30.04.23
          .discount__col
            a.discount__caption(href="#") 
              |ПОДРОБНЕЕ
    .header__inner
      .container
        .header__row 
          .header__col
            a.header__logo(href="#")
              +logo-svg.header__logo-svg 
            a.header__catalog(href="#")
              .header__icon 
                +catalog-svg.header__svg
              .header__catalog-text 
                |Каталог товаров 
          .header__col
            ul.header__list
              each item in ['О бренде', 'Доставка и возврат', 'Контакты']
                li.header__list-item
                  a.header__list-link(href="#")
                    |#{item}
          .header__col
            ul.header__list
              li.header__list-item
                a.header__links-link(href="#")
                  .header__icon 
                    +search-svg.header__svg
              li.header__list-item
                a.header__links-link(href="#")
                  .header__icon 
                    +user-svg.header__svg
              li.header__list-item
                a.header__links-link(href="#")
                  .header__icon 
                    +heart-svg.header__svg
              li.header__list-item
                a.header__links-link(href="#")
                  .header__icon 
                    +cart-svg.header__svg
              li.header__list-item.header__menu(data-header-btn='')
                .header__icon.header__menu-icon 
                  +catalog-svg.header__svg
                .header__menu-cross 
                  .header__icon 
                    +cross-svg.header__svg
    .header-menu
      .header-menu__container 
        ul.header-menu__list 
          each item in ['Каталог товара', 'О бренде ']
            li.header-menu__item 
              a.header-menu__link(href="#")
                .header-menu__text 
                  |#{item}
                .header-menu__icon 
                  +arrow-svg.header-menu__svg